*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-header{
    max-width: 1100px;
    margin: 0px auto;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.flex{
    display: flex;
}

header{
    background-color: orange;
    position: fixed;
    width: 100%;
    
}

.text-white{
    color: white;
}

.logo-header{
    width: 10%;
}

.link-gender{
    padding: 20px;
}

.icons{
    width: 20px;
    height: 20px;
    background-color: red;
}


main{
    padding-top: 100px ;
}

.container{
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    gap: 15px;
}

.justify-center{
    justify-content: center;
}

.col-30{
    width: 30%;
}


.card{
    width: 100%;
    position: relative;
}

.card img{
    max-width: 100%;
}


.label{
    padding:5px 0px;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.bg-green{
    background-color: green;
}

.bg-red{
    background-color: red;
}

.padding-4-10{
    padding: 4px 10px;
}

.heart{
    background-color: white;
    position: absolute;
    right: 0;
    top: 10px;
    padding: 8px 15px;
    font-size: 25px;
}

